@font-face{
    font-family: Caslon;
    src:url('/assets/font/LibreCaslonText-Bold.ttf');
}
@font-face{
    font-family: Dancing;
    src:url('/assets/font/DancingScript-VariableFont_wght.ttf');
}
@font-face{
    font-family: Kenia;
    src:url('/assets/font/Kenia-Regular.ttf');
}
@font-face{
    font-family: Robto;
    src:url('/assets/font/Roboto-Regular');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}
:root {
    --bg-gray: #E3E6F3;
    --text-color: #fff;
    --text-gray:#e9e9e9;
    --main-bg: linear-gradient(to top, #061f44 2%, #537895 100%);
    --active:rgb(0, 255, 76);
    --blue:#0500bb;
    --color-primary:#fceb06;
    --color-orange:#ff693c;
    --bg-color:#000423;
    --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    

  }
body{
    font-family: Roboto;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5 {
    font-family: Caslon;
}
.title-slide, .logo-title, .span-name {
    font-family: Kenia;
}

ul{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.no-scroll {
    overflow: hidden;
}

/* To top  */
.to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: var(--active);
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    display: none;
    z-index: 100;
}
/* .to-top.show{
    display: block;
} */
.to-top .icon-top{
    position: relative;
    height: 40px;
    width: 40px;
    cursor: pointer;

}
.logo-title:hover{
    color: var(--color-orange);
    transition: all 0.3s;

}
.logo-title span{
    color: var(--color-orange);
}
.fa-arrow-up{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
    font-size: 18px;
}
nav{
    /* position: relative; */
    height: 100vh;
    width: 100%;
    background-image: var(--main-bg);
    /* position: relative; */
   
}

nav .nav-bg{
    background-color: transparent;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    transition: all 0.3s;
    
    
}
nav .nav-bg.sticky{
    background-color: var(--bg-color);
    padding: 8px 0; 
}
nav .nav-bg.sticky .logo h2 {
    color: #fff;
}
nav .nav-bg.sticky .logo h2:hover {
    color: var(--color-orange);
    transition: all 0.3s;
}
nav .nav {
    display: inline-block;
    padding: 5px 0;
    position: relative;
   
}

.logo h2 {
    margin-bottom: 0;
    font-weight: 800;
    font-size: 30px;
    color: #fff;
    
}
nav .nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav .nav-items .nav-item{
    display: flex;
   align-items: center;
   column-gap: 60px;
}
nav .nav-items .nav-item .nav-lists{
    display: flex;
    align-items: center;
    gap: 40px;
}

nav .nav-items .nav-item .nav-lists li{
    position: relative;
    transition: all 0.3s;
    
}
nav .nav-items .nav-item .nav-lists li::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 0px;
    background-color: var(--active);
    bottom: -5px;
    left: 0;
   
}
nav .nav-items .nav-item .nav-lists li.active::after{
    content: "";
    position: absolute;
    width: 70%;
    height: 3px;
    background-color: var(--active);
    bottom: -5px;
    left: 0;
 
}
nav .nav-items .nav-item .nav-lists li:hover::after{
    content: "";
    position: absolute;
    width: 70%;
    height: 3px;
    background-color: var(--active);
    bottom: -5px;
    left: 0;
    
}


nav .nav-items .nav-item .nav-lists li a{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
}
nav .nav-items .nav-item .nav-lists li a.active{
    color: var(--active);
   
    
}
nav .nav-items .nav-item .nav-lists li:hover a{
    color: var(--active);
   
}

/* Menu btn  */
.btn-menu {
    width: 24px;
    height: 24px;
    position: relative;
    display: none;
}
.menu-top,
.menu-middle,
.menu-bottom {
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: #fff;
    top: 5px;
    left: 0;
    transition: all.5s;
}
.menu-middle {
    transform: translateY(7px);
    width: 24px;
}
.menu-bottom {
    transform: translateY(14px);
    width: 18px;

}
.open .menu-top {
    transform: rotate(45deg) translateY(12px) ;
    background: red;
    width: 24px;

}
.open .menu-middle {
    transform: translateX(100%) translateY(6px);
    opacity: 0;
    visibility: hidden;
    
}
.open .menu-bottom {
    transform: rotate(315deg) translateX(-12px);
    background: red;
    width: 24px;

}
nav .home-view{
    display: flex;
    justify-content: start;
    align-items: center;
    height:calc(100vh - 77px);
    background-image: url('../imgs/bg1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top 10% right 20%;
    
  
}
nav .home-view .home-left {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    
}
nav .home-view .home-right{
    display: flex;
    align-items: center;
    justify-content: center;

}
nav .home-left .header-slide{
    display: flex;
    align-items: center;
    gap: 10px;
}

.slide-title{
 position: relative;

 
 

}


nav .home-left .header-slide .slide-title .span-name{
    font-size: 40px;
    font-weight: 600;
    opacity: 0;

}
.span-name.title1{
    color: var(--active);
}
.span-name.title2{
    color: var(--color-orange);
    text-transform: lowercase;
}
.span-name.title1{
    animation: animate1 15s infinite;
   
}
.span-name.title2{
    animation: animate2 15s infinite;
    position: absolute;
    top: 0;
    left: 0;
    text-wrap: nowrap;
    
   
}
@keyframes animate1 {
    5%{
        opacity: 0;
        
    }
    20%{
        opacity: 1
    }
    50%{
        opacity: 0;
        
    }
}
@keyframes animate2 {
    50%{
        opacity: 0;
       
        
    }
    60%{
        opacity: 1;
        
        
        
    }
    100%{
        opacity: 0;
        
      
    }
}

nav .home-left h2{
    font-size: 50px;
    font-weight: 800;
}

nav .home-left p{
    color: var(--color-primary);
    font-size: 20px;
}
nav .home-left .btn-download{
    background-color: var(--active);
    padding: 8px 15px;
    border-radius: 20px;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ;
}
nav .home-left .btn-download:hover{
    background-color: var(--color-orange);
  
}
nav .socail-meadia{
    margin-top: 30px;
    display: flex;
    gap: 20px;
}
nav .socail-meadia .facebook .fa-facebook-f,
nav .socail-meadia .facebook .fa-telegram,
nav .socail-meadia .facebook .fa-github{
    color: var(--color-orange);
    height: 20px;
    width: 20px;
    padding: 8px;
    border-radius: 50%;
    border: 2px solid var(--color-orange);
    transition: all 0.3s;
  
}
nav .socail-meadia .facebook .fa-facebook-f:hover,
nav .socail-meadia .facebook .fa-telegram:hover,
nav .socail-meadia .facebook .fa-github:hover{
    color: var(--text-color );
    height: 20px;
    width: 20px;
   background-color: var(--color-orange);
    border-radius: 50%;
}



/* =============End Nav================== */

/* ==============Start About============ */
#about{
    padding: 50px 0;
    background-color: #f3f1f1;
}
.description {
    color: #d8d1d1;
}
#about .title{
    color: var(--bg-color);
    font-size: 50px;
    font-weight: 600;
    border-left: 10px solid var(--active);
    padding: 5px 10px;
    width: fit-content;
    
}
#about .box-about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}
#about .box-about .about-left  .person-img{
  height: 300px;
  position: relative;
  
}

#about .box-about .about-left .person-text{
    position: absolute;
    left: 0;
    height: fit-content;
    width: 90%;
    background-color: rgb(122, 122, 122);
    box-shadow: rgba(28, 51, 68, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    bottom: 0;
    padding: 10px ;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    

}

#about .box-about .about-left .person-text .about-header {
  display: flex;
  justify-content: space-between;
 
}

#about .box-about .about-left .person-text .dots {
    display: flex;
    gap: 5px;
}
#about .box-about .about-left .person-text .dots .dot.green {
   height: 10px;
   width: 10px;
   background-color: var(--active);
   border-radius: 50%;
}
#about .box-about .about-left .person-text .dots .dot.orange {
    height: 10px;
    width: 10px;
    background-color: var(--color-orange);
    border-radius: 50%;
 }
 #about .box-about .about-left .person-text .dots .dot.blue {
    height: 10px;
    width: 10px;
    background-color: var(--bg-color);
    border-radius: 50%;
 }
#about .box-about .about-left .about-header .personal-data {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
#about .box-about .about-left .person-text h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0;
    color: var(--bg-color);
    opacity: .8;

}
#about .box-about .about-left .person-text h5{
    color: var(--color-orange);
    font-size: 18px;
    font-weight: 500;
    opacity: .7;
    margin-bottom: 0;
}

#about .about-right .skills{
    color: var(--bg-color);
    font-size: 30px;
    font-weight: 600;
}
#about .about-right .btn-skills{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    cursor: pointer;
}
#about .about-right .btn-skills .btn-skill{
   outline: none;
   background-color: gray;
   color: var(--text-color);
   padding: 5px 10px;
   border: none;
   font-size: 14px;
   font-weight: 500;
   border-radius: 3px;
   transition: all 0.3s;
   
}
#about .about-right .btn-skills .btn-skill.skill-active{
    background-color: var(--active);
    color: var(--text-color);
}
.skill-active{
    background-color: var(--active);
    color: var(--text-color);
}
#about .about-right .btn-skills .btn-skill:hover{
    background-color: var(--active);
}

#about .about-right .about-skills .title-skill{
    margin-bottom: 0;
    color: gray;
    font-size: 16px;
    font-weight: 600;
}
#about .about-right .progress {
    height: 10px;
}
.new-progress{
    background-color: var(--bg-color);
}
#about .about-right .about-skills .show-skill:not(:first-child){
    display: none;
    
}
/* ==============End About============ */

/* =================START PORTFOLIO============ */
#project{
    background-color: var(--text-gray);
    padding: 50px 0;
    min-height: 590px;
}

.project-info {
    position: relative;
  
}

.project-info {

}

.project-info a {
    display: inline-block;
    font-size: 14px;
    text-align: center;
}
.show-description {
    background-color: var(--bg-color);
    height: fit-content ;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
.show-description :hover {
    opacity: 0.8;
    color: #fff;
}


.title-border-bottom{
    position: relative; 
}
.title-border-bottom::after{
    position: absolute; 
    content: "";
    width: 5%;
    height: 5px;
    background-color: var(--active);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
 h2.title{
    color: var(--bg-color);
    font-size: 50px;
    font-weight: 600;

}
#project #project-filters{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
 
}
#project #project-filters li{
    background-color: var(--bg-color);
    padding: 8px 15px;
    cursor: pointer;
    color: var(--text-color);
    transition: all 0.3s;
    border-radius: 3px;
}
#project #project-filters li:hover{
    background-color: var(--active);
   
}
#project #project-filters li.active{
    background-color: var(--active);
}
#project .projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
#project .projects .itemProject {
    border-radius: 5px;
    overflow: hidden;
    position: relative;

}
#project .projects .itemProject .project-img{
    height: 220px;
    position: relative;

}
#project .projects .itemProject .project-img .bg-img{
    position: absolute;
    width: 0%;
    height: 0%;
    background-image: var(--main-bg);
    z-index: 100;
    left: 0;
    top: 0;
    transition: all 0.3s;

}
#project .projects .itemProject .project-img:hover .bg-img{
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: 1;
   }
  




#project .projects .itemProject .project-img .source-code{
    position: absolute;
    top: -100%;
    left: -100%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 8px 15px;
    border-radius: 10px;
    transition: all 0.3s;

}
#project .projects .itemProject .project-img .source-code:hover{
    background-color: var(--active);

}
#project .projects .itemProject .project-img:hover .source-code{
    top: 50%;
    left: 50%;
    z-index: 2;

}
/* =================END PORTFOLIO============ */
/* =================START CONTACT============ */
#contact{
    padding: 50px 0;
    background-image: var(--main-bg);
}

.alert-body{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
 
    
}
.box-cancel {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
.btn-cancel-alert{
   background-color: red;
   color: #fff;
   padding: 2px 10px;
   border: none;
   font-size: 20px;
   border-radius: 5px;
}
.show-message-alert{
    background-color: #fff;
    height: 150px;
    width: 600px;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgb(252, 245, 245);
}
.btn-send{
    background-color: var(--active);
    color: var(--text-color);
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 5px;
}


/* =================END CONTACT============ */

/* =================START FOOTER============ */

#footer{
    padding: 30px 0;
    
    background-color: var(--bg-color);
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.socail-meadia.footer {
    display: flex;
    align-items: center;
}
.footer__left p{
   margin-bottom: 0;
   color: #848c90;
}
.footer__left p span{
    color: var(--color-orange);
    font-size: 18px;
    font-weight: 500;
 }
 .footer__right .socail-meadia.footer .facebook{
    margin-right: 10px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-orange);
    border-radius: 50%;
   

 }
 .footer__right .fa-facebook-f,
 .footer__right .fa-telegram,
 .footer__right .fa-github{
    font-size: 18px;
    color: var(--text-color);
 }
/* =================START FOOTER============ */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    nav .fa-code {
        color: var(--active);
        font-size: 30px;
        transition: all 0.3s;
    }
    nav .home-view {
        display: flex;
        justify-content: start;
        align-items: center;
        height: calc(100vh - 260px);
        background-image: url(../imgs/bg1.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top 50% right 20%;
    }
    nav .home-left .btn-download {
        background-color: var(--active);
        padding: 8px 15px;
        border-radius: 20px;
        color: var(--text-color);
        font-size: 14px;
        font-weight: 500;
        transition: all 0.3s;
    }
    nav .socail-meadia {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    nav .socail-meadia .facebook .fa-facebook-f, nav .socail-meadia .facebook .fa-instagram, nav .socail-meadia .facebook .fa-twitter, nav .socail-meadia .facebook .fa-github {
        color: var(--color-orange);
        height: 15px;
        width: 15px;
        padding: 8px;
        border-radius: 50%;
        border: 2px solid var(--color-orange);
        transition: all 0.3s;
    }
    nav .home-view {
        display: flex;
        justify-content: start;
        align-items: center;
        height: calc(100vh - 77px);
        background-image: url(../imgs/bg1.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top 50% right 20%;
    }
    #about .title {
        color: var(--bg-color);
        font-size: 25px;
        font-weight: 600;
        border-left: 5px solid var(--active);
        padding: 5px 10px;
        width: fit-content;
    }
    #about .box-about {
        display: grid;
        grid-template-columns: 1fr;
    }
    #about {
        padding: 50px 0;
    }
    #about .about-right{
        margin-top: 12px;
    }
 
    #about .about-right .skills {
        color: var(--color-orange);
        font-size: 25px;
        font-weight: 600;
    }
    #about .about-right .btn-skills {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
        cursor: pointer;
    }
    h2.title {
        color: var(--bg-color);
        font-size: 25px;
        font-weight: 600;
    }
    #project #project-filters {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }
    #project #project-filters li {
        background-color: var(--bg-color);
        padding: 5px 11px;
        cursor: pointer;
        color: var(--text-color);
        transition: all 0.3s;
        border-radius: 3px;
    }
    #project .projects {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    nav .nav-bg {
        background-color: var(--bg-color);
        border-bottom: 1px solid var(--active);
        padding: 8px 0;
    }
    .btn-menu{
        display: block;
    }
    .nav-lists {
        padding: 10px 0;
        flex-direction: column;
        position: absolute;
        top: 100%;
        background-color: rgb(109, 108, 108);
        width: 90%;
        opacity: 0.9;
        left: -100%;
        transition: all .3s;
        height: 100vh;
    }
 
    .nav-lists.show{
        left: 0;
    }
    .btn-menu{
        display: block;
    }
    nav .home-left .header-slide {
        display: flex;
        align-items: start;
        gap: 10px;
        flex-direction: column;
    }
    nav .home-left h2 {
        font-size: 30px;
        font-weight: 600;
    }
    nav .home-left .header-slide .slide-title .span-name {
        font-size: 30px;
        font-weight: 600;
    }
    .cv {
        margin-top: 20px;
    }
   
}
/* Extra small devices (phones, 600px and down) */



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) {
    nav .home-left .header-slide {
        display: flex;
        align-items: start;
        gap: 0px;
        flex-direction: column;
    }
    .cv {
        margin-top: 20px;
    }
    nav .home-left h2 {
        font-size: 35px;
        font-weight: 600;
    }
    nav .home-left .header-slide .slide-title .span-name {
        font-size: 35px;
        font-weight: 600;
    }
    nav .home-left .btn-download {
        background-color: var(--active);
        padding: 8px 15px;
        border-radius: 20px;
        color: var(--text-color);
        font-size: 15px;
        font-weight: 500;
        transition: all 0.3s;
    }
    nav .socail-meadia {
        margin-top: 30px;
        display: flex;
        gap: 15px;
    }
    #about .title {
        color: var(--bg-color);
        font-size: 30px;
        font-weight: 600;
        border-left: 5px solid var(--active);
        padding: 5px 10px;
        width: fit-content;
    }
    #about .box-about {
        display: grid;
        grid-template-columns: 1fr;
    }
    #about .box-about .about-left .person-img {
        height: 400px;
        position: relative;
        margin-bottom: 20px;
    }
    h2.title {
        color: var(--bg-color);
        font-size: 30px;
        font-weight: 600;
    }
    #project #project-filters {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    #project .projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    nav .home-left .header-slide {
        display: flex;
        align-items: start;
        gap: 10px;
        flex-direction: row;
    }
    nav .home-left h2 {
        font-size: 50px;
        font-weight: 600;
    }
    nav .home-left .header-slide .slide-title .span-name {
        font-size: 43px;
        font-weight: 600;
    }
    nav .home-left .btn-download {
        background-color: var(--active);
        padding: 8px 15px;
        border-radius: 20px;
        color: var(--text-color);
        font-size: 18px;
        font-weight: 500;
        transition: all 0.3s;
    }
    #about .title {
        color: var(--bg-color);
        font-size: 40px;
        font-weight: 600;
        border-left: 5px solid var(--active);
        padding: 5px 10px;
        width: fit-content;
    }
    #about .box-about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    h2.title {
        color: var(--bg-color);
        font-size: 40px;
        font-weight: 600;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
    #project .projects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

}

/* =====================Resume==================== */
.arow-left  {
    position: absolute;
    text-align: center;
    right: 0;
    width: 60px;
    height: 20px;
    top: 0px;
    background-color: rgb(252, 5, 120) ;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0 49%);
}
.arow-right  {
    position: absolute;
    text-align: center;
    right: 0;
    width: 60px;
    height: 20px;
    top: 0;
    background-color: rgb(3, 255, 45) ;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0 49%);
}
.top-resume {
    display: flex;
    justify-content: space-between;
    padding: 0 8%;
    margin-top: 10px;
}
.containers {
    position: relative;
    width: 100%;
    max-width: 1100px;
    min-height: auto;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
    margin: 20px auto;
    
}
.containers  h5 {
    font-size: 1rem;
}
.containers .left_side {
    position: relative;
    background-color: #003147;
    padding: 40px;
    border-left: 2px solid orange;

}
.containers .left_side h4 {
    font-size: 1rem;
}
.resume.dots {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 5px;

}
.resume.dots .dot:nth-child(1) {
    width: 10px;
    height: 10px;
    background-color: rgb(0, 255, 21);
    border-radius: 50%;
  
}
.resume.dots .dot:nth-child(2) {
    width: 10px;
    height: 10px;
    background-color: orange;
    border-radius: 50%;

  
}
.resume.dots .dot:nth-child(3) {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;

  
}


.profileText {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(255,255,255,0.2);
}
.profileText .imgBx {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid orange;
}
.profileText .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileText h2 {
    color: #fff;
    font-size: 1.5rem;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4;
}
.profileText h2 span {
    font-size: 1rem;
    font-weight: 300;
    color: #aaa;

}
.contactInfo {
    margin-top: 40px;
}
.title {
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.contactInfo ul {
    position: relative;
}
.contactInfo ul li {
    position: relative;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li .icon {
    display: inline-block;
    font-size: 18px;
    color: orange;
    width: 30px;
    margin-right: 5px;
}

.contactInfo ul li .text {
    color: #fff;
    font-weight: 300;
}
.contactInfo.education {
    margin-bottom: 15px;
}
.contactInfo.education h5 {
    color: orange;
    margin-bottom: 10px;
}
.contactInfo.education h4:nth-child(2) {
    color: #fff;
    font-weight: 500;
}
.contactInfo.education h4 {
    color: #fff;
    font-weight: 300;
    margin-top: 5px;
}
.contactInfo.language .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background: #000922;
    display: block;
    margin-top: 5px;
 
}
.contactInfo.language .percent div {
    position: absolute;
    top: 0;
    left: 0;
    background: orangered ;
    height: 100%;
    z-index: 100;
    
}
.containers .right_side {
    position: relative;
    background-color: #fff;
    padding: 40px;
}
.about {
    margin-bottom: 50px;
}
.title2 {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p {
    color: #003147;
}
.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .year_company {
    min-width: 250px;
}
.about .box .year_company h5 {
    color: #848c90;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .box .text h4 {
    color: #2a7da2;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    justify-content: center;
    align-items: center;
}
.skills .box h4 {
    font-weight: 600;
    color: #848c90;
    text-transform: uppercase;
    font-size: 1rem;
}
.skills .box .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background-color: #f0f0f0;
}
.skills .box .percent div {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #2a7da2;
}
.interest ul {
    display: grid;
   grid-template-columns: repeat(4,1fr);
   row-gap: 20px;
}
.interest .img__interest {
    height: 24px;
    width: 24px;
}

.interest ul li {
    font-weight: 500;
    color: #000;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.technology-sm {
    display: none;
    color: #aaa;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}
.resume {
    text-align: center;
    font-size: 1.8rem;
}
@media(max-width: 1000px){
    .title, .title2 {
        font-size: 1.4rem;
    }

    
    
}
@media(max-width: 886px){
    
    .containers {
        grid-template-columns: 1fr;
    } 
    .arow-right {
        position: absolute;
        left: 0;
        width: 60px;
        height: 20px;
        top: calc(100% - 20px);
        transform: rotate(180deg);
        background-color: rgb(3, 255, 45);
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0 49%);
    }
}
@media(max-width: 600px){
    .interest ul {
       grid-template-columns: repeat(2,1fr);
    }
    .about .box {
        flex-direction: column;
    }
    .technology-lg {
        display: none;
    }
    .technology-sm {
        display: block;
    }
    .title, .title2 {
        font-size: 1.2rem;
    }
    
}

